@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
  background: #c3ebfa !important;
  color: #171717 !important;
  border-radius: 8px !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 700 !important;
}

.react-calendar__tile:hover {
  border-radius: 8px !important;
}

.react-calendar__tile--now {
  background-color: #fff48d !important; /* Change background color */
  border-radius: 8px !important;
}

::-webkit-scrollbar {
  border-radius: 5px;
  width: 8px;
  height: 8px;
  background-color: #ccc7c7;
  padding: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9c9797;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background-color: #868282;
}
